---
import SectionHeader from "./SectionHeader.astro";
import { getTranslations } from "../i18n/ui";

const t = getTranslations(Astro.currentLocale).about;
---

<section id="about">
  <SectionHeader num="01" label={t.label} title={t.title} />
  <p class="about-lead">
    {t.lead.map((seg) => (seg.mark ? <span class="accent">{seg.text}</span> : seg.text))}
  </p>
  {t.body.map((paragraph) => <p class="about-body">{paragraph}</p>)}
</section>
